<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Hello {{fullName}} </h1>
    <p>Student is logged in.</p>

    {% for course in courses %}
        <p>{{course.courseName}}</p>
        <p>{{course.professor}}</p>
        <p>{{course.time}}</p>
        <!-- <p>{{course.name}}</p> -->
    {% endfor %}

    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>