<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Hello {{fullName}} </h1>
    <p>Student is logged in.</p>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Professor</th>
            <th>Time</th>
            <th>Students Enrolled</th>
            <th>Add Class</th>
        </tr>
        {{courseDict}}
        {% for course in courses %}
            <tr>
                <td>{{course.courseName}}</td>
                <td>{{course.professor}}</td>
                <td>{{course.time}}</td>
                <td>{{courseDict[course.courseName]}} / {{course.capacity}}</td>
                <td> -/+</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>